<mat-card>
    <h1>Add Customer</h1>
    <form #customerForm="ngForm" ngNativeValidate>
      <div class="example-container">
        <p>
        <mat-form-field>
            <input 
                matInput placeholder="Name"
                [(ngModel)] = "name"
                name = "name"
                required="required">
        </mat-form-field> 
        </p>
        <p>
        <mat-form-field>
                <input 
                    matInput placeholder="Education years"
                    [(ngModel)] = "years"
                    name = "years"
                    type="number"
                    required
                    min=0
                    max=24>
        </mat-form-field>
      </p>  
      <p>
        <mat-form-field>
                <input 
                    matInput placeholder="Income"
                    [(ngModel)] = "income"
                    name = "income"
                    required="required">
        </mat-form-field>
      </p>                       
        <div >
         <button mat-raised-button color = "primary" (click) = "updateParent()" [disabled]="customerForm.invalid" >Add</button>
            <button mat-raised-button (click) = "tellParentToClose()" >Cancel</button>
        </div>
      </div>
    </form>
    </mat-card>
